name: Documentation

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate documentation
        uses: TinyTapeout/action-docs@v3
        with:
          config_file: info.yaml
          docs_dir: docs
