name: docs

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - uses: TinyTapeout/tt-docs-action@ttihp26a
