name: Documentation
on:
  push:
    branches: [main]
    paths:
      - 'docs/**'
      - 'src/**'
      - 'test/**'
      - 'info.yaml'
      - 'README.md'
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Generate documentation
        uses: TinyTapeout/action-docs@v1
        with:
          config_file: info.yaml
          docs_dir: docs
          gh_pages_branch: gh-pages
          
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_site
          publish_branch: gh-pages
