name: sim

on:
  push:
  pull_request:

jobs:
  sim:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          
      - name: Run simulation
        uses: docker://ghcr.io/tinytapeout/iverilog-simulation:latest
        with:
          testbench: tt_um_aksp_mbist_mbisr_tb
