name: sim

on:
  push:
  pull_request:

jobs:
  sim:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive  # Important for TinyTapeout!

      - uses: tinytapeout/tt-action-sim@v3  # Correct action name and version
        with:
          top_module: "tt_um_aksp_mbist_mbisr_tb"
