name: sim

on:
  push:
  pull_request:

jobs:
  sim:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Run simulation
        uses: tinytapeout/action-iverilog-simulation@v2
