name: Validation

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Validate info.yaml
        uses: TinyTapeout/action-validate-project@v1
        with:
          config_file: info.yaml
